# Mac, Python, VSCode, Jupyter
.DS_Store
__pycache__/
*.pyc
*.pyo
.vscode/
.idea/
.env
.venv
*.ipynb_checkpoints/
*~
.~lock.*

# Output : on garde la structure, on ignore les fichiers
output/*
!output/**/
!output/**/*.md


# Ne pas ignorer le squelette d’output (README.md)


