# Ignore tout le contenu du dossier output/
output/*

# MAIS pas les sous-dossiers
!output/**/

# MAIS pas les fichiers README.md et .gitkeep dans output/ et ses sous-dossiers
!output/**/*.md
!output/**/.gitkeep
